body {
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
}

.title {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 700px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px;
}

h4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    max-width: 15vw;
}

#uploadButton {
    padding: 10px;
    margin: 0 40px 0;
    cursor: pointer;
}

.dropDown {
    background-color: lightgrey;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

option {
}

option:hover {
    cursor: pointer;;
}

.convertButton {
    padding: 10px;
    margin: 0 40px 0;
    cursor: pointer;
}

.download {
    display: flex;
    justify-content: flex-end;
    width: 25vw;
    margin-left: auto;
}

.downloadButton {
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
}

.fileP {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 0;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px dashed #aaa; 
    width: 100%;             
}
